
// Mobile Portrait
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {

  body {
    font-size: 16px;
    line-height: 2;
  }
  header {
    display: none;
  }

  section.features, section.cta, section.creative-team, section.tech-stack, section.contact, section.contact-page {
    .container {
      @include flex($align: center, $orientation: column);
    }
  }
  section:not(.cta) {
    padding: 15px 0;
  }
  .home.hero {
    @include banners($height: 100vh, $bg-image: url('/images/thought-catalog-505eectW54k-unsplash.jpeg'), $margin-top: 0);
    .hero-text {
      h1 {
        font-size: 0.4rem;
      }
    }
  }
  section.benefits {
    .container {
      .benefits-grid {
        grid-template-columns: 1fr;
        .benefits-img {
          text-align: center;
        }
        .benefit {
          @include flex($orientation:column, $align: center);
          .content {
            text-align: center;
            margin-top: 15px;
          }
          .icon {
            padding: 5px;
            min-width: 51.5px;
            min-height: 50px;
            margin-right: initial;
          }
          h4 {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
  section.clients {
    .container {
      .client-logos {
        @include flex($orientation:column);
      }
    }
  }
  section.features {
    .container .card {
      width: 100%;
      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
      .icon {
        i {
          font-size: 2rem;
        }
      }
    }
  }
  section.latest-projects {
    nav.project-filters {
      ul {
        li {
          a {
            font-size: 1rem;
          }
          &:not(:last-of-type)::after {
            margin: 0 10px;
          }
        }
      }
    }
    .projects {
      .project {
        max-width: 100%;
        max-height: 200px;
        .project-preview {
          @include flex($justify: space-between);
          h4 {
            margin: 5px 0;
            a {
              
              .project-category {
                font-size: 0.8rem;
                display: block;
              }
            }
          }
          .project-actions {
            background: transparent;
            transform: translateY(0);
          }
        }
      }
    }
  }
  section.project-gallery {
    .container {
      @include flex($align: stretch, $orientation: column);
      .gallery-slider {
        width: 100%;
        margin-bottom: 30px;
        .gallery-thumbs {
          flex-wrap: wrap;
        }
      }
      .gallery-details {
        width: 100%;
        .gallery-features {
          .gallery-feature {
            width: 100%;
            
            h4 {
              margin: 0 0 10px 0;
            }
          }
        }
      }
    }
  }
  section.tech-stack {
    .tech {
      margin: 0 auto;
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
  }
  section.contact {
    .contact-form {
      width: 100%;
    }
    .contact-accordions {
      width: 100%;
    }
  }
  section.creative-team {
    .creative-card {
      width: 100%;
      ul {
        padding: 5px;
        i {
          font-size: 1.2rem;
        }
      }
    }
  }
  section.testimonials {
    .testimonial-container {
      display: none;
    }
  }

  footer {
    .mid-footer {
      .container {
        @include flex($align: flex-start, $orientation: column);
        padding: 15px 0;
        &>* {
          width: 100%;
          padding: 15px;
          h4 {
            margin-top: 0;
          }
        }
        .latest-news {
          .news-item {
            .news-snippet {
              h5 {
                font-size: 0.95rem;
              }
              .news-timestamp {
                font-size: 0.8rem;
              }
            }
            .news-thumb {
              a {
                img {
                  width: 100px;
                  height: 100px;
                }
              }
            }
          }
        }
      }
    }
  }


  :not(.accordion) > button {
    width: 100%;
    margin-top: 15px;
  }


  
}

