// Variables
$font-stack: 'Open Sans', sans-serif;
$copy: #969595;
$primary-color: #fff;
$secondary-color: #f9f9f9;
$black: #313131;
$blue: #31aae2;
$purple: #c183d6;
$teal: #73c8b7;
$pink: #eb768c;

// Mixins
@mixin banners($bg-image: url('/images/city_hero.png'), $height: 40%) {
  background-image: $bg-image;
  background-size: cover;
  position: relative;
  height: $height;
  margin-top: -85px;  
}

@mixin flex($orientation: row, $justify: space-between, $align: center, $width: 100%) {
  width: $width;
  display: flex;
  flex-direction: $orientation;
  justify-content: $justify;
  align-items: $align;  
}

@mixin overlay($bg-gradient: linear-gradient(225deg, rgba(59,62,63,1) 0%, rgba(49,170,226,1) 90%)) {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $bg-gradient;
  z-index: 0;
  opacity: 0.9;
}

// Extends
%pie {
  @include flex($orientation:column, $justify:center, $width: initial);  
  min-width: 145px;
  margin: 0;
  min-height: 145px;
  border-radius: 50%;
  border: 30px solid transparent;
  background-repeat: no-repeat; 
}

%pointed-ends {
  height: 23px;
  content: '';
  width: 23px;
  display: inline;
  position: absolute;
  transform: translateY(-5px);
  transform: translateY(0px) rotate(45deg);
}

// CSS
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-stack;
  font-size: 12px;
  color: $copy;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: $black;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1rem;
}

p:first-of-type {
  margin-top: 0;
}

nav ul {
  padding-left: 0;
  li {
  list-style-type: none;
  display: inline-block;
  }
}


// Hero banners
.hero {
  @include banners;
  @include flex($orientation: column, $justify: center);
  .hero-text {
    position: relative;
    z-index: 1;
    color: $primary-color;
    @include flex($orientation: column);
    h1 {
      font-size: 4rem;
      order: 2; 
      color: $primary-color;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      margin: 80px 0 0 0;
      line-height: 1.5;
      letter-spacing: 0.1rem;
    }
    h2 {
      font-size: 2.2rem;
      font-weight: 600;
      order: 3;
      color: $primary-color;
      opacity: 0.5;
      margin: 0;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
    }
  }
  .scroll-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    font-size: 5rem;
    a {
      color: #ffffff;
      &:hover {
        color:$blue;
      }
    }
  }
}

.overlay {
  @include overlay;
  &+.container button {
    background: $secondary-color;
    color: $black;
  }
}

// Wrappers & Containers

section.features, section.cta, section.creative-team, section.tech-stack, section.contact, section.contact-page {
  .container {
    @include flex($align: inherit);
  }
}

section:not(.cta) {
  padding: 80px 0;
}

section.cta {
  padding: 25px 0;
  .container {
    align-items: center;
  }
}
.shaded {
  background: $secondary-color;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

section > h2 {
  text-align:center;
  color: #000;
  font-weight:400;
  margin: 0;
}

.full-width {
  width: 100%;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
}

section.benefits {
  .container {
    .benefits-grid {
      display: grid;
      grid-template-columns: 0.5fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0 100px;
      .benefit {
        @include flex($align:flex-start);
        padding-top: 30px;
        .icon {
          color: #fff;
          font-size: 1.3rem;
          border-radius: 50%;
          padding: 15px;
          margin-right: 20px;
          min-width: 65px;
          min-height: 65px;
          text-align: center;
          &.blue { background: $blue; }
          &.teal { background: $teal; }
          &.purple { background: $purple; }
          &.pink { background: $pink; }
        }
        h4 {
          margin-top:0;
        }
      }
      .benefits-img {
        grid-row: 1 / 4;
      }
    }
  }
}

section.features {
  .container .card {
    border: 1px solid $secondary-color;
    width: calc(25% - 20px);
    // min-height: 320px;
    .icon {
      background: $secondary-color;
      @include flex($justify:center);
      color: #dadada;
      font-size: 1.5rem;
      // min-height: 110px;
      padding: 55px 0;
    }
    &:hover .icon {
      color: $blue;
    }
    .content {
      text-align: center;      
      padding: 15px 30px;
      @include flex($orientation: column, $justify: space-around);
    }
  }
}

section.cta {
  p {
    font-size: 1.3rem;
    margin: 0;
  }
}

section.project-gallery {
  background: url('/images/bg_image.png');
  background-size: cover;
  background-position: top;
  position: relative;
  .overlay {
    @include overlay($bg-gradient: rgba(49,160,226,0.85));
    opacity: 1;
  }
  .container {
    @include flex($align: stretch);
    h3, h4, i {
      color: $primary-color;
    }
    p {
      color: #a5ddf1;
    }
    .gallery-slider {
      width: calc(50% - 15px);
      .full-img {
        .img-selector {
          width: 100%;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .gallery-thumbs {
          @include flex($justify: space-evenly);
          background: rgba(255,255,255,0.1);
          padding: 18px 0;
          img {
            width: 65px;
            object-fit: cover;
            height: 65px;
            border: 3px solid #a7c9df;
            border-radius: 50%;            
          }     
        }
      }
    }
    .gallery-details {
      @include flex($orientation:column, $width: calc(50% - 15px), $align: flex-start);
      h3 {
        margin:0;
      }
      .gallery-features {
        @include flex;
        flex-wrap: wrap;
        .gallery-feature {
          width: calc(50% - 15px);
          margin-bottom: 15px;
          .icon {
            float: left;
            font-size: 1rem;
            margin-right: 10px;
          }
          h4 {
            display: inline-block;
            margin: 0 0 20px 0;
          }
        }
      }
    }
  }
}

section.testimonials {
  background: url('/images/section_bg.png');
  background-size: cover;
  background-position: top;
  position: relative;
  @include flex($orientation:column, $justify: space-evenly);
  color: $primary-color;
  .container {
    padding: 0 90px;
  }
  .overlay {
    @include overlay($bg-gradient: rgba(73,172,141,0.77));
  }
  blockquote {
    font-size: 1.2rem;
    text-align: center;
  }
  .source {
    text-align: center;
    font-size: 0.95rem;
  }
  .arrow {
    i {
      border: 1px solid $primary-color;
      border-radius: 50%;
      @include flex($justify: space-around);
      width: 45px;
      height: 45px;
      cursor:pointer;
    }
    width: initial;
  }
  .testimonial-content {
    margin: 40px 0 0 0;
    display: none;
    &.active {
      display: block;
    }
  }
  .testimonial-slider {
    @include flex;
  }
  .testimonial-menu {
    @include flex($justify: center, $align: initial);
    .headshot {
      opacity: 0.65;
      max-width: 60px;
      max-height: 60px;
      margin: 0 10px;
      &:hover, &.active {
        opacity: 1;
        cursor: pointer;
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}

section.latest-projects {
  nav.project-filters {
    ul {
      text-align: center;
      margin-bottom: 45px;
      li {
        &:not(:last-of-type)::after {
          content: '/';
          margin: 0 30px;
        }
        a {
          color: $copy;
          text-decoration: none;
          &.active {
            color: $blue;
          }
        }
      }
    }
  }
  .projects {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    .project {
      max-width: calc(100% / 3);
      position: relative;
      max-height: 250px;
      &:hover .project-preview {
        @include flex($justify: space-between);
      }
      .project-preview {
        display: none;
        padding: 0 20px 0 30px;
        background: rgba(255,255,255,0.85);
        position: absolute;
        z-index: 1;
        bottom: 0;
        width: 100%; 
        h4 {
          a {
            font-size: 0.9rem;
            color: $black;
            .project-category {
              text-transform: uppercase;
              color: $copy;
              font-size:0.6rem;
            } 
          }
        }
        .project-actions {
          @include flex($width: 95px);
          transform: translateY(-30.5px);
          padding: 10px;
          background: linear-gradient(180deg, rgba(255,255,255,0.8) 39%, transparent 30%);
          border-radius: 20px;
          a {
            &:hover i {
              color: $primary-color;
              background: $blue;
            }
            i {
              color: $blue;
              border-radius: 50%;
              border: 1px solid $blue;
              @include flex($justify: center, $align: center);
              width: 32px;
              height: 32px;
            }
          }
        }
      }  
      a {
        text-decoration: none;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

section.contact {
  h3 {
    margin-top: 0;
  }
  .contact-form {
    @include flex($orientation:column, $width: calc(50% - 15px), $align: initial, $justify: initial);
    form {
      label {
        position: relative;
        display: block;
        margin-bottom: 15px;
        input, textarea {
          border: 1px solid #f1f1f1;
          width: 100%;
          padding: 20px;
          &+i {
            position: absolute;
            margin-left: -30px;
            padding: 20px 0;            
          }
        }
        textarea {
          min-height:100px;
        }
      }
      button {
        width: 100%;
      }
    }
  }
  .contact-accordions {
    width: calc(50% - 15px);
    .accordion {
      border: 1px solid #f1f1f1;
      margin-bottom: 15px;
      &.open {
        button {
          color: $blue;
          &:before {
            color: $primary-color;
            background: $blue;
            content: '-';
          }
        }
      }
      &.closed {
        .panel-photo, .panel {
          display: none;
        }
      }
      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: top;
      }
      button {
        background: white;
        position: relative;
        border: none;
        width: 100%;
        text-align: left;
        padding: 15px 60px;
        color: #969595;
        font-size: 1rem;
        cursor: pointer;
        &:before {
          content: '+';
          position: absolute;
          margin-left: -40px;
          background: #dadada;
          color: #fff;
          border-radius: 50%;
          width: 20px;
          height: 20px;
          text-align: center;
          top: 14px;          
        }
      }
      .panel {
        padding: 10px 60px;
      }
    }
  }
}

section.tech-stack {
  .tech {
    p {
      text-align: center;
      margin-top:0;
    }
    margin: 0 30px;
    @include flex($orientation:column);
    .filled {
      @extend %pie;
      position:absolute;
      top:15px;
      z-index:2;
      &.android {
        background-size: 100% 100%, 50% 50%, 50% 50%, 100% 100%;
        background-image:
          linear-gradient(#f9f9f9, #f9f9f9),
          linear-gradient(30deg, transparent 100%, transparent 100%),
          linear-gradient(0deg, $purple 100%, $purple 100%),
          linear-gradient(360deg, transparent 100%, transparent 100%);
        background-position: center center, left top, right top, right bottom;  
        background-origin: content-box, border-box, border-box, border-box;
        background-clip: content-box, border-box, border-box, border-box; 
        transform: rotate(10deg);
      }
      &.woocommerce {
        background-size: 100% 100%, 50% 50%, 50% 50%, 100% 100%;
        background-image:
          linear-gradient(#f9f9f9, #f9f9f9),
          linear-gradient(30deg, transparent 100%, transparent 100%),
          linear-gradient(0deg, $teal 100%, $teal 100%),
          linear-gradient(360deg, transparent 100%, transparent 100%);
        background-position: center center, left top, right top, right bottom;  
        background-origin: content-box, border-box, border-box, border-box;
        background-clip: content-box, border-box, border-box, border-box; 
        transform: rotate(135deg);
      }      
    }
    .empty {
      position: relative;
      @extend %pie;
      &.photoshop { 
        background-size: 100% 100%, 50%, 50%;
        background-image:
          linear-gradient(#f9f9f9, #f9f9f9),
          linear-gradient(90deg, #fff 100%, #fff 100%),
          linear-gradient(270deg, $blue 100%, $blue 100%);
        background-position: center center, left, right;
        background-origin: content-box, border-box, border-box;
        background-clip: content-box, border-box, border-box;        
      }
      &.javascript { 
        background-size: 100% 100%, 50% 50%, 50% 100%, 50% 50%;
        background-image:
          linear-gradient(#f9f9f9, #f9f9f9),
          linear-gradient(30deg, #fff 100%, #fff 100%),
          linear-gradient(120deg, $pink 100%, $pink 100%),
          linear-gradient(360deg, $pink 100%, $pink 100%);
        background-position: center center, left top, right top, left bottom;  
        background-origin: content-box, border-box, border-box, border-box;
        background-clip: content-box, border-box, border-box, border-box;     
      }
      &.android { 
        background-size: 100% 100%, 50% 50%, 50% 50%, 100% 100%;
        background-image:
          linear-gradient(#f9f9f9, #f9f9f9),
          linear-gradient(30deg, #fff 100%, #fff 100%),
          linear-gradient(0deg, $purple 100%, $purple 100%),
          linear-gradient(360deg, #fff 100%, #fff 100%);
        background-position: center center, left top, right top, right bottom;  
        background-origin: content-box, border-box, border-box, border-box;
        background-clip: content-box, border-box, border-box, border-box;      
      }   
      &.woocommerce { 
        background-size: 100% 100%, 50%, 50%;
        background-image:
          linear-gradient(#f9f9f9, #f9f9f9),
          linear-gradient(90deg, #fff 100%, #fff 100%),
          linear-gradient(270deg, $teal 100%, $teal 100%);
        background-position: center center, left, right;
        background-origin: content-box, border-box, border-box;
        background-clip: content-box, border-box, border-box;          
      }         
      .percent {
        position:absolute;
        z-index:3;
        font-size: 1.5rem;
        color: #000;
      } 
    }
  }
}

section.creative-team {
  .creative-card {
    &:nth-of-type(1n) h4.profile-name {
      background-color: $blue;
      &::before, &::after {
        @extend %pointed-ends;
        background: #33aae2;
      }
    }
    &:nth-of-type(2n) h4.profile-name {
      background-color: $pink;
      &::before, &::after {
        @extend %pointed-ends;
        background: $pink;
      }
    }
    &:nth-of-type(3n) h4.profile-name {
      background-color: $purple;
      &::before, &::after {
        @extend %pointed-ends;
        background: $purple;
      }      
    }
    &:nth-of-type(4n) h4.profile-name {
      background-color: $teal;
      &::before, &::after {
        @extend %pointed-ends;
        background: $teal;
      }      
    }
    @include flex($orientation:column);
    width: calc(25% - 20px);
    margin-top: 20px;
    background: $primary-color;
    img {
      width: 100%;
      height: 265px;
      object-fit: cover;   
    }
    h4.profile-name {
      text-align: center;
      position: relative;
      margin-top: -17px;
      margin-bottom: 0;
      color: white;
      display: inline-block;
      padding: 5px 15px; 
      text-transform: uppercase; 
      font-size:0.8rem;
      &::before {
        left: -12px;
      }
      &::after {
        right: -12px;
      }
      .profile-title {
        font-size:0.65rem;
        font-weight:400;
      }    
    }
    ul {
      padding: 5px 20px;
      list-style-type: none;
      @include flex($justify: space-evenly);
      i {
        color: $copy;
        font-size:0.9rem;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

section.clients {
  .container {
    .client-logos {
      @include flex;
      img {
        opacity: 0.3;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

section.contact-page {
  .container {
    .contact-card {
      &:hover, &:focus {
        border: 1px solid $blue;
      }
      width: calc( (100% / 3) - 15px);
      background: $primary-color;
      padding: 60px 80px;
      text-align: center;
      border: 1px solid $primary-color;
      i {
        font-size: 2rem;
        color: $blue;
      }
      h4 {
        margin: 35px 0;
      }
      .details {
        .detail {
          a {
            text-decoration: none;
            color: $copy;
            &:hover, &:focus {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

footer {
  color: $copy;
  h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
  }
  a {
    text-decoration: none;
    color: $copy;
  }
  .top-footer {
    background: #313131;
    display: block;
    .container {
      @include flex;
      .logo {
        flex: 2;
        text-align:center;
      }
      nav {
        @include flex($justify:space-around);
        flex: 1;
        ul {
          @include flex;
          padding-left:0;
          margin: 0;
          li {
            text-align: center;
            a {
              text-decoration: none;
              color: #6b6b6b;
              &:hover {
                color: $primary-color;
                i {
                  background: $blue;
                }
              }
              i {
                width: 45px;
                height: 45px;
                background: #4a4a4a;
                border-radius: 50%;
                font-size: 1.2rem;
                @include flex($justify:space-around, $width:45px);
                margin: 0 auto;
              }
              .icon-title {
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
  .mid-footer {
    background: #2d2d2d;
    .container {
      .about, .useful-links, .mailing-list {
        display: block;
      }
      .archives, .latest-news, .footer-contact {
        display: none;
      }
      padding: 50px 0;
      &>* {
        width: calc(25% - 30px);
      }
      a {
        &:hover {
          color: $primary-color;
        }
        &.more {
          position: relative;
          top: 10px;
          &::after {
            content: '\f101';
            font-family: 'FontAwesome';
            color: $blue;
            margin-left: 5px;
          }
        }
      }
      @include flex($align: flex-start);
      .latest-news {
        .news-item {
          @include flex($align:flex-start);
          border-bottom: 1px solid rgba(255,255,255,0.05);
          padding: 20px 0 15px 0;  
          &:first-of-type {
            padding-top: 0;
          }
          &:last-of-type {
            border-bottom: none;
            padding-bottom: 0;
          }      
          .news-thumb {
            a {
              img {
                width: 60px;
                height: 60px;
                object-fit: cover;
              }
            }
          }
          .news-snippet {
            padding: 0 10px;
            h5 {
              margin: 0;
              font-size:0.8rem;
              line-height: 1.5;
              a {
                color: $primary-color;
              }
            }
            .news-timestamp {
              font-size:0.65rem;
            }
          }
        }
      }
      .recent-work {
        .recent-thumbs {
          @include flex;
          flex-wrap: wrap;
          a {
            width: 62px;
            height: 62px;
            margin-bottom: 4px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;              
            }
          }
        }
      }
      .footer-contact {
        .contact-row {
          @include flex($justify: flex-start, $align: flex-start);
          border-bottom: 1px solid rgba(255,255,255,0.05);
          padding: 15px 0;  
          &:first-of-type {
            padding-top: 0;
          } 
          .icon {
            margin-right: 15px;
            font-size: 0.9rem;
            color: #4a4a4a;
          }
          .info {
            a {
              display: block;
            }
          }
          &.social {
            a {
              margin-right: 25px;
              font-size: 1.2rem;
              color: #4a4a4a;
              &:hover {
                color: $blue;
              }
            }
          } 
        }
      }
      .archives, .useful-links {
        nav {
          ul {
            list-style-type: none;
            li {
              display: block;
              border-bottom: 1px solid rgba(255,255,255,0.05);
              padding: 10px 0;
              &:before {
                content: '\f101';
                font-family: 'FontAwesome';
                color: $blue;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
  .bot-footer {
    background: #373737;
    .container {
      @include flex;
      text-transform: uppercase;
      font-weight: 700;
      nav {
        a {
          color: #6b6b6b;
          text-decoration: none;
          font-size:0.7rem;
          margin-right: 20px;
          &:hover {
            color: $blue;
          }
        }
      }
      .copyright {
        color: #6b6b6b;
        font-size: 0.85rem;
      }
    }
  }
}



// Form elements



:not(.accordion) > button {
  padding: 20px 30px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.8rem;
  background: $blue;
  color: $primary-color;
}