$header-nav-item-color: #fffefe;
$header-icon-bg: #31aae2;

header {
  display: flex;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  justify-content: space-between;
  align-items: center;
  height: 85px;
  position: relative;
  z-index: 1; 
  font-size: 0.8rem;
  .container {
    display: flex;
    height: 100%;
    padding: 0 15px;
  } 
  .logo {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    flex-direction: row;
    img {
      max-width: 65px;
    }   
  }
  nav {
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    flex: 7;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
    .links {
      // padding-right: 20px;
      ul li {
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 20px;
        a {
          color: $header-nav-item-color;
          text-decoration: none;
        }
      }
    }
  }
  .icons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    i {
      color: $header-nav-item-color;
      background: $header-icon-bg;
      padding: 12px;
      border-radius: 50%;
      text-align: center;
      margin-left: 10px;
      flex-grow: 0;
      font-size: 0.7rem;
    }
  }
}