$header-nav-item-color: #fffefe;
$header-icon-bg: #31aae2;

header {
  display: flex;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  justify-content: space-between;
  align-items: center;
  height: 85px;
  position: relative;
  z-index: 1; 
  font-size: 0.8rem;
  .container {
    display: flex;
    height: 100%;
    padding: 0 15px;
  } 
  .logo {
    a {
      display: flex;
    }
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    flex-direction: row;
    img {
      max-width: 65px;
    }   
  }
  nav {
    border-left: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    flex: 7;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 0 40px;
    .links {
      // padding-right: 20px;
      ul li {
        text-transform: uppercase;
        font-weight: 700;
        margin: 0 20px;
        a {
          color: $header-nav-item-color;
          text-decoration: none;
          &:hover {
            border-bottom: 3px solid $header-nav-item-color;
          }
        }
      }
    }
  }
  .icons {
    @include flex($justify:flex-end);
    flex: 1;
    flex-direction: row;
    a {
      color: $header-nav-item-color;
      background: $header-icon-bg;
      border-radius: 50%;
      text-decoration: none;
      @include flex($justify: space-around);
      width: 30px;
      height: 30px;
      font-size: 0.6rem;
      margin-left: 8px;
      &:hover {
        color: $header-icon-bg;
        background: $header-nav-item-color;
      }
    }
  }
}