@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section.tech-stack .tech .empty, section.tech-stack .tech .filled {
  width: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 145px;
  margin: 0;
  min-height: 145px;
  border-radius: 50%;
  border: 30px solid transparent;
  background-repeat: no-repeat;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #969595;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: #313131;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1rem;
}

p:first-of-type {
  margin-top: 0;
}

nav ul {
  padding-left: 0;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}

.home.hero {
  background-image: url("/images/thought-catalog-505eectW54k-unsplash.jpeg");
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-top: -85px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home.hero .hero-text {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}
.home.hero .hero-text h1 {
  text-transform: uppercase;
  font-size: 4rem;
  border: 5px solid #fff;
  padding: 0 45px;
  margin: 0 0 10px 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: #fff;
  font-weight: 700;
}
.home.hero .hero-text h2 {
  font-size: 1.2rem;
  font-weight: 400;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  color: #fff;
}
.home.hero .hero-text h3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  color: #fff;
  font-weight: 700;
}
.home.hero .scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10%;
  font-size: 5rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(225deg, #38c5f3 0%, #609622 100%);
  z-index: 0;
  opacity: 0.9;
}
.overlay + .container button {
  background: #f9f9f9;
  color: #313131;
}

section.features .container, section.cta .container, section.creative-team .container, section.tech-stack .container, section.contact .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
}

section:not(.cta) {
  padding: 80px 0;
}

section.cta {
  padding: 25px 0;
}
section.cta .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shaded {
  background: #f9f9f9;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
}

section > h2 {
  text-align: center;
  color: #000;
  font-weight: 400;
  margin: 0;
}

.full-width {
  width: 100%;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
}

section.benefits .container .benefits-grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0 100px;
}
section.benefits .container .benefits-grid .benefit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 30px;
}
section.benefits .container .benefits-grid .benefit .icon {
  color: #fff;
  background-color: #000;
  font-size: 1.3rem;
  border-radius: 50%;
  padding: 15px;
  margin-right: 20px;
  min-width: 65px;
  min-height: 65px;
  text-align: center;
}
section.benefits .container .benefits-grid .benefit h4 {
  margin-top: 0;
}
section.benefits .container .benefits-grid .benefits-img {
  grid-row: 1/4;
}

section.features .container .card {
  border: 1px solid #f9f9f9;
  width: calc(25% - 20px);
}
section.features .container .card .icon {
  background: #f9f9f9;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dadada;
  font-size: 1.5rem;
  padding: 55px 0;
}
section.features .container .card:hover .icon {
  color: #31aae2;
}
section.features .container .card .content {
  text-align: center;
  padding: 15px 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.cta p {
  font-size: 1.3rem;
  margin: 0;
}

section.project-gallery {
  background: url("/images/section_bg.png");
  background-size: cover;
  background-position: top;
  position: relative;
}
section.project-gallery .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(225deg, #38c5f3 0%, #609622 100%);
  z-index: 0;
  opacity: 0.9;
}
section.project-gallery .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
section.project-gallery .container h3, section.project-gallery .container h4, section.project-gallery .container i {
  color: #fff;
}
section.project-gallery .container p {
  color: #a5ddf1;
}
section.project-gallery .container .gallery-slider {
  width: calc(50% - 15px);
}
section.project-gallery .container .gallery-slider .full-img .img-selector {
  width: 100%;
  height: 400px;
}
section.project-gallery .container .gallery-slider .full-img .img-selector img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.project-gallery .container .gallery-slider .full-img .gallery-thumbs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 18px 0;
}
section.project-gallery .container .gallery-slider .full-img .gallery-thumbs img {
  width: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 65px;
  border: 3px solid #a7c9df;
  border-radius: 50%;
}
section.project-gallery .container .gallery-details {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
section.project-gallery .container .gallery-details h3 {
  margin: 0;
}
section.project-gallery .container .gallery-details .gallery-features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section.project-gallery .container .gallery-details .gallery-features .gallery-feature {
  width: calc(50% - 15px);
  margin-bottom: 15px;
}
section.project-gallery .container .gallery-details .gallery-features .gallery-feature .icon {
  float: left;
  font-size: 1rem;
  margin-right: 10px;
}
section.project-gallery .container .gallery-details .gallery-features .gallery-feature h4 {
  display: inline-block;
  margin: 0 0 20px 0;
}

section.testimonials {
  background: url("/images/section_bg.png");
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
section.testimonials .container {
  padding: 0 90px;
}
section.testimonials .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(225deg, #38c5f3 0%, #609622 100%);
  z-index: 0;
  opacity: 0.9;
}
section.testimonials blockquote {
  font-size: 1.2rem;
  text-align: center;
}
section.testimonials .source {
  text-align: center;
  font-size: 0.95rem;
}
section.testimonials .arrow {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  min-width: 45px;
  min-height: 45px;
  text-align: center;
}
section.testimonials .testimonial-content {
  margin: 40px 0 0 0;
}
section.testimonials .testimonial-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.testimonials .testimonial-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}
section.testimonials .testimonial-menu .headshot {
  opacity: 0.65;
  max-width: 60px;
  max-height: 60px;
  margin: 0 10px;
}
section.testimonials .testimonial-menu .headshot:hover {
  opacity: 1;
}
section.testimonials .testimonial-menu .headshot img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.latest-projects .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
section.latest-projects .projects .project {
  max-width: calc(100% / 3);
  position: relative;
  max-height: 250px;
}
section.latest-projects .projects .project:hover .project-preview {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.latest-projects .projects .project .project-preview {
  display: none;
  padding: 0 40px;
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
}
section.latest-projects .projects .project .project-preview .project-category {
  text-transform: uppercase;
  color: #969595;
  font-size: 0.8rem;
}
section.latest-projects .projects .project img {
  width: 100%;
  height: 100%;
}

section.contact h3 {
  margin-top: 0;
}
section.contact .contact-form {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}
section.contact .contact-form form label {
  position: relative;
  display: block;
  margin-bottom: 15px;
}
section.contact .contact-form form label input, section.contact .contact-form form label textarea {
  border: 1px solid #f1f1f1;
  width: 100%;
  padding: 20px;
}
section.contact .contact-form form label input + i, section.contact .contact-form form label textarea + i {
  position: absolute;
  margin-left: -30px;
  padding: 20px 0;
}
section.contact .contact-form form label textarea {
  min-height: 100px;
}
section.contact .contact-form form button {
  width: 100%;
}
section.contact .contact-accordions {
  width: calc(50% - 15px);
}
section.contact .contact-accordions .accordion {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
}
section.contact .contact-accordions .accordion.open button {
  color: #31aae2;
}
section.contact .contact-accordions .accordion.open button:before {
  color: #fff;
  background: #31aae2;
  content: "-";
}
section.contact .contact-accordions .accordion.closed .panel-photo, section.contact .contact-accordions .accordion.closed .panel {
  display: none;
}
section.contact .contact-accordions .accordion img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
section.contact .contact-accordions .accordion button {
  background: white;
  position: relative;
  border: none;
  width: 100%;
  text-align: left;
  padding: 15px 60px;
  color: #969595;
  font-size: 1rem;
  cursor: pointer;
}
section.contact .contact-accordions .accordion button:before {
  content: "+";
  position: absolute;
  margin-left: -40px;
  background: #dadada;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  top: 14px;
}
section.contact .contact-accordions .accordion .panel {
  padding: 10px 60px;
}

section.tech-stack .tech {
  margin: 0 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.tech-stack .tech p {
  text-align: center;
  margin-top: 0;
}
section.tech-stack .tech .filled {
  position: absolute;
  top: 15px;
  z-index: 2;
}
section.tech-stack .tech .filled.android {
  background-size: 100% 100%, 50% 50%, 50% 50%, 100% 100%;
  background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(30deg, transparent 100%, transparent 100%), linear-gradient(0deg, #c183d6 100%, #c183d6 100%), linear-gradient(360deg, transparent 100%, transparent 100%);
  background-position: center center, left top, right top, right bottom;
  background-origin: content-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
section.tech-stack .tech .filled.woocommerce {
  background-size: 100% 100%, 50% 50%, 50% 50%, 100% 100%;
  background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(30deg, transparent 100%, transparent 100%), linear-gradient(0deg, #73c8b7 100%, #73c8b7 100%), linear-gradient(360deg, transparent 100%, transparent 100%);
  background-position: center center, left top, right top, right bottom;
  background-origin: content-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
section.tech-stack .tech .empty {
  position: relative;
}
section.tech-stack .tech .empty.photoshop {
  background-size: 100% 100%, 50%, 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f9f9f9)), -webkit-gradient(linear, left top, right top, color-stop(100%, #fff), to(#fff)), -webkit-gradient(linear, right top, left top, color-stop(100%, #31aae2), to(#31aae2));
  background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(90deg, #fff 100%, #fff 100%), linear-gradient(270deg, #31aae2 100%, #31aae2 100%);
  background-position: center center, left, right;
  background-origin: content-box, border-box, border-box;
  background-clip: content-box, border-box, border-box;
}
section.tech-stack .tech .empty.javascript {
  background-size: 100% 100%, 50% 50%, 50% 100%, 50% 50%;
  background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(30deg, #fff 100%, #fff 100%), linear-gradient(120deg, #eb768c 100%, #eb768c 100%), linear-gradient(360deg, #eb768c 100%, #eb768c 100%);
  background-position: center center, left top, right top, left bottom;
  background-origin: content-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box;
}
section.tech-stack .tech .empty.android {
  background-size: 100% 100%, 50% 50%, 50% 50%, 100% 100%;
  background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(30deg, #fff 100%, #fff 100%), linear-gradient(0deg, #c183d6 100%, #c183d6 100%), linear-gradient(360deg, #fff 100%, #fff 100%);
  background-position: center center, left top, right top, right bottom;
  background-origin: content-box, border-box, border-box, border-box;
  background-clip: content-box, border-box, border-box, border-box;
}
section.tech-stack .tech .empty.woocommerce {
  background-size: 100% 100%, 50%, 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f9f9f9)), -webkit-gradient(linear, left top, right top, color-stop(100%, #fff), to(#fff)), -webkit-gradient(linear, right top, left top, color-stop(100%, #73c8b7), to(#73c8b7));
  background-image: linear-gradient(#f9f9f9, #f9f9f9), linear-gradient(90deg, #fff 100%, #fff 100%), linear-gradient(270deg, #73c8b7 100%, #73c8b7 100%);
  background-position: center center, left, right;
  background-origin: content-box, border-box, border-box;
  background-clip: content-box, border-box, border-box;
}
section.tech-stack .tech .empty .percent {
  position: absolute;
  z-index: 3;
  font-size: 1.5rem;
  color: #000;
}

section.creative-team .creative-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(25% - 20px);
  margin-top: 20px;
  background: #fff;
}
section.creative-team .creative-card:nth-of-type(1n) h4.profile-name {
  background-color: #31aae2;
}
section.creative-team .creative-card:nth-of-type(2n) h4.profile-name {
  background-color: #eb768c;
}
section.creative-team .creative-card:nth-of-type(3n) h4.profile-name {
  background-color: #c183d6;
}
section.creative-team .creative-card:nth-of-type(4n) h4.profile-name {
  background-color: #73c8b7;
}
section.creative-team .creative-card img {
  width: 100%;
  height: 265px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.creative-team .creative-card h4.profile-name {
  text-align: center;
  position: relative;
  margin-top: -18px;
  margin-bottom: 0;
  color: white;
  display: inline-block;
  padding: 5px 25px;
  text-transform: uppercase;
  font-size: 0.8rem;
}
section.creative-team .creative-card h4.profile-name .profile-title {
  font-size: 0.65rem;
  font-weight: 400;
}
section.creative-team .creative-card ul {
  padding: 5px 20px;
  list-style-type: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.creative-team .creative-card ul i {
  color: #969595;
  font-size: 0.9rem;
}
section.creative-team .creative-card ul i:hover {
  color: #31aae2;
}

section.clients .container .client-logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.clients .container .client-logos img {
  opacity: 0.3;
}
section.clients .container .client-logos img.active {
  opacity: 1;
}

footer {
  color: #969595;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #fff;
}
footer a {
  text-decoration: none;
  color: #969595;
}
footer .top-footer {
  background: #313131;
  display: block;
}
footer .top-footer .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .top-footer .container .logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}
footer .top-footer .container nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
footer .top-footer .container nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  margin: 0;
}
footer .top-footer .container nav ul li {
  text-align: center;
}
footer .top-footer .container nav ul li a {
  text-decoration: none;
  color: #6b6b6b;
}
footer .top-footer .container nav ul li a:hover {
  color: #fff;
}
footer .top-footer .container nav ul li a:hover i {
  background: #31aae2;
}
footer .top-footer .container nav ul li a i {
  width: 45px;
  height: 45px;
  background: #4a4a4a;
  border-radius: 50%;
  font-size: 1.2rem;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
footer .top-footer .container nav ul li a .icon-title {
  margin-top: 5px;
}
footer .mid-footer {
  background: #2d2d2d;
}
footer .mid-footer .container {
  padding: 50px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .mid-footer .container > * {
  width: calc(25% - 30px);
}
footer .mid-footer .container a:hover {
  color: #fff;
}
footer .mid-footer .container a.more {
  position: relative;
  top: 10px;
}
footer .mid-footer .container a.more::after {
  content: "";
  font-family: "FontAwesome";
  color: #31aae2;
  margin-left: 5px;
}
footer .mid-footer .container .latest-news .news-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 20px 0 15px 0;
}
footer .mid-footer .container .latest-news .news-item:first-of-type {
  padding-top: 0;
}
footer .mid-footer .container .latest-news .news-item:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}
footer .mid-footer .container .latest-news .news-item .news-thumb a img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .mid-footer .container .latest-news .news-item .news-snippet {
  padding: 0 10px;
}
footer .mid-footer .container .latest-news .news-item .news-snippet h5 {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1.5;
}
footer .mid-footer .container .latest-news .news-item .news-snippet h5 a {
  color: #fff;
}
footer .mid-footer .container .latest-news .news-item .news-snippet .news-timestamp {
  font-size: 0.65rem;
}
footer .mid-footer .container .recent-work .recent-thumbs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .mid-footer .container .recent-work .recent-thumbs a {
  width: 62px;
  height: 62px;
  margin-bottom: 4px;
}
footer .mid-footer .container .recent-work .recent-thumbs a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .mid-footer .container .footer-contact .contact-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 15px 0;
}
footer .mid-footer .container .footer-contact .contact-row:first-of-type {
  padding-top: 0;
}
footer .mid-footer .container .footer-contact .contact-row .icon {
  margin-right: 15px;
  font-size: 0.9rem;
  color: #4a4a4a;
}
footer .mid-footer .container .footer-contact .contact-row .info a {
  display: block;
}
footer .mid-footer .container .footer-contact .contact-row.social a {
  margin-right: 25px;
  font-size: 1.2rem;
  color: #4a4a4a;
}
footer .mid-footer .container .footer-contact .contact-row.social a:hover {
  color: #31aae2;
}
footer .mid-footer .container .archives nav ul, footer .mid-footer .container .useful-links nav ul {
  list-style-type: none;
}
footer .mid-footer .container .archives nav ul li, footer .mid-footer .container .useful-links nav ul li {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 10px 0;
}
footer .mid-footer .container .archives nav ul li:before, footer .mid-footer .container .useful-links nav ul li:before {
  content: "";
  font-family: "FontAwesome";
  color: #31aae2;
  margin-right: 10px;
}
footer .bot-footer {
  background: #373737;
}
footer .bot-footer .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-weight: 700;
}
footer .bot-footer .container nav a {
  color: #6b6b6b;
  text-decoration: none;
  font-size: 0.7rem;
  margin-right: 20px;
}
footer .bot-footer .container nav a:hover {
  color: #31aae2;
}
footer .bot-footer .container .copyright {
  color: #6b6b6b;
  font-size: 0.85rem;
}
footer.home .top-footer {
  display: none;
}
footer.home .bot-footer .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer.home .bot-footer .container nav {
  display: none;
}

:not(.accordion) > button {
  padding: 20px 30px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.8rem;
  background: #31aae2;
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  position: relative;
  z-index: 1;
  font-size: 0.8rem;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 15px;
}
header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .logo img {
  max-width: 65px;
}
header nav {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 40px;
}
header nav .links ul li {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 20px;
}
header nav .links ul li a {
  color: #fffefe;
  text-decoration: none;
}
header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
header .icons i {
  color: #fffefe;
  background: #31aae2;
  padding: 12px;
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-size: 0.7rem;
}